{% extends "base.html" %}

{% block title %} Edit Task {% endblock title %}

<h3>{% block headline %} Edit Your Task {% endblock headline %}</h3>

{% block content %}

    <div class="container">
        {% if task_obj.owner == user %}
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
            <input type="text" class="form-control" name="task" value="{{task_obj.task}}">
            <input type="hidden" class="form-control" name="is_completed" value="{{task_obj.is_completed}}">
            </div>
            <button type="submit" class="btn btn-primary">Update Task</button>
        </form>
        {% else %}
            Restricted
        {% endif %}

    </div>

{% endblock content %}