{% extends "base.html" %}
{% load static %}

{% block title %}
Home Page
{% endblock title %}

{% block content %}

<div class="container">

<img src="{% static 'image/todo.jpg' %}" alt="Todo Image" height="200" width="1000">
<div class="text-center mt-5">
    <p class="h1">Quick and Easy to access Task.</p>
    <p class="h4">Stay organized stay productive.</p>
    <p class="h6">Small steps everyday leads to big results.</p>
    {% if user.is_authenticated %}
        <a href="{% url 'todolist' %}"><button type="button" class="btn btn-success mt-5">get Started</button></a>
    {% else %}
        <a href="{% url 'login' %}"><button type="button" class="btn btn-success mt-5">get Started</button></a>
    {% endif %}
    
</div>


</div>

{% endblock content %}